* {
  padding: 0;
  margin: 0;
}
div {
  width: 90vw;
  max-width: 650px;
  background: #f1f4f5;
  margin: 0 auto;
  margin-top: 6rem;
  border-radius: 4px;
  padding: 1rem;
  padding-bottom: 2rem;
}
h1 {
  text-align: center;
  margin: 10px 0;
}
.task {
  width: 80%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 4px 0;
  padding-left: 10px;
}
.btn {
  width: 17%;
  margin-left: -5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 4px 0;
  background: #646cffaa;
  color: white;
  cursor: pointer;
}
ul {
  padding: 5px;
  margin-top: 1rem;
}
li {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr auto;
  background: rgb(219, 230, 237);
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 1rem;
}
article {
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
article > button {
  border: none;
  color: rgb(188, 72, 72);
}
section {
  display: grid;
  place-items: center;
}
.clear-btn {
  padding: 4px 6px;
  border-radius: 5px;
  margin-top: 0.5rem;
  background: rgb(188, 72, 72);
  border: none;
  color: white;
  cursor: pointer;
  display: none;
}
.show {
  display: block;
}
